*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
header{
    width: 100%;
    background:url("../img1.jpg");
    height: 100vh;
    background-size: cover;
}
header section{
    width:90%;
    margin: auto;
}
header section .logo {
    padding:30px 40px;
    color: black;
    font-weight: 900;
    float: left;
    font-size: 25px;
}
.clear{
    clear:both;
}
header section nav{
    padding:30px 40px;
    float: right;
}
nav ul li{
    list-style: none;
    display: inline;
    padding: 10px;
}
nav ul li a{
    text-decoration: none;
    color:black;
    padding: 15px;
    font-size: 19px;
}
.active{
    background-color: white;
    color: black;
    border-radius: 20px;
}
nav ul li a:hover{
    background-color: white;
    color: black;
    border-radius: 20px;
}
.banner_content{
    width: 100%;
    margin: 12% auto;
    text-align: center;
   
}
.banner_content1{
    font-size: 80px;
    color: white;
}
.banner_content P{
    font-size: 20px;
    color: white;
}
.banner_content a{
    background-color: purple;
    color: white;
    padding: 20px;
    text-decoration: none;
    display: inline-block;
    margin-top: 20px;
    border-radius: 20px;
}
.banner_content a:hover{
    background-color:#fff;
    color: gray;
}